In [98]:
# Dependencies
import pandas as pd

In [99]:
all_nba_df = pd.read_csv("Resources/End of Season Teams.csv")
all_nba_df

,season,lg,type,number_tm,player,position,seas_id,player_id,birth_year,tm,age
0,2022,NBA,All-Defense,1st,Giannis Antetokounmpo,NaN,29918,4164,NaN,MIL,27
1,2022,NBA,All-Defense,1st,Jaren Jackson Jr.,NaN,29991,4632,NaN,MEM,22
2,2022,NBA,All-Defense,1st,Marcus Smart,NaN,30183,4275,NaN,BOS,27
3,2022,NBA,All-Defense,1st,Mikal Bridges,NaN,30205,4658,NaN,PHO,25
4,2022,NBA,All-Defense,1st,Rudy Gobert,NaN,30313,4199,NaN,UTA,29
...,...,...,...,...,...,...,...,...,...,...,...
2115,1947,BAA,All-BAA,2nd,Chick Halbert,NaN,44,36,1919.0,CHS,27
2116,1947,BAA,All-BAA,2nd,Ernie Calverley,NaN,70,56,NaN,PRO,23
2117,1947,BAA,All-BAA,2nd,Frankie Baumholtz,NaN,73,59,NaN,CLR,28
2118,1947,BAA,All-BAA,2nd,Fred Scolari,NaN,75,61,1922.0,WSC,24
2119,1947,BAA,All-BAA,2nd,John Logan,NaN,123,103,1921.0,STB,26

In [100]:
# filter rows where year is below 2016
modern_all_nba = all_nba_df[all_nba_df['season'] >= 2010]
modern_all_nba

,season,lg,type,number_tm,player,position,seas_id,player_id,birth_year,tm,age
0,2022,NBA,All-Defense,1st,Giannis Antetokounmpo,NaN,29918,4164,NaN,MIL,27
1,2022,NBA,All-Defense,1st,Jaren Jackson Jr.,NaN,29991,4632,NaN,MEM,22
2,2022,NBA,All-Defense,1st,Marcus Smart,NaN,30183,4275,NaN,BOS,27
3,2022,NBA,All-Defense,1st,Mikal Bridges,NaN,30205,4658,NaN,PHO,25
4,2022,NBA,All-Defense,1st,Rudy Gobert,NaN,30313,4199,NaN,UTA,29
...,...,...,...,...,...,...,...,...,...,...,...
452,2010,NBA,All-Rookie,2nd,DeJuan Blair,NaN,22300,3871,NaN,SAS,20
453,2010,NBA,All-Rookie,2nd,James Harden,NaN,22394,3880,NaN,OKC,20
454,2010,NBA,All-Rookie,2nd,Jonas Jerebko,NaN,22450,3888,NaN,DET,22
455,2010,NBA,All-Rookie,2nd,Jonny Flynn,NaN,22452,3889,NaN,MIN,20
456,2010,NBA,All-Rookie,2nd,Marcus Thornton,NaN,22528,3894,NaN,NOH,22

In [101]:
# drop unnecessary columns
modern_all_nba = modern_all_nba.drop(['lg', 'position', 'birth_year', 'player_id', 'age', 'tm', 'player', 'season', 'number_tm'], axis=1)
modern_all_nba

            type  seas_id
0    All-Defense    29918
1    All-Defense    29991
2    All-Defense    30183
3    All-Defense    30205
4    All-Defense    30313
..           ...      ...
452   All-Rookie    22300
453   All-Rookie    22394
454   All-Rookie    22450
455   All-Rookie    22452
456   All-Rookie    22528

[457 rows x 2 columns]

In [102]:
modern_all_nba = modern_all_nba[modern_all_nba['type'] == 'All-NBA']
modern_all_nba

        type  seas_id
10   All-NBA    29850
11   All-NBA    29918
12   All-NBA    30010
13   All-NBA    30158
14   All-NBA    30247
..       ...      ...
442  All-NBA    22189
443  All-NBA    22220
444  All-NBA    22437
445  All-NBA    22580
446  All-NBA    22692

[195 rows x 2 columns]

In [103]:
player_totals_df = pd.read_csv("Resources/Player Totals.csv")
player_totals_df

,seas_id,season,player_id,player,birth_year,pos,age,experience,lg,tm,...,ft_percent,orb,drb,trb,ast,stl,blk,tov,pf,pts
0,30458,2023,5025,A.J. Green,NaN,SG,23.0,1,NBA,MIL,...,1.000,5.0,26.0,31.0,18,6.0,0.0,8.0,26,127
1,30459,2023,5026,A.J. Lawson,NaN,SG,22.0,1,NBA,TOT,...,0.333,2.0,8.0,10.0,1,1.0,0.0,1.0,8,34
2,30460,2023,5026,A.J. Lawson,NaN,SG,22.0,1,NBA,MIN,...,NaN,0.0,1.0,1.0,0,0.0,0.0,0.0,1,2
3,30461,2023,5026,A.J. Lawson,NaN,SG,22.0,1,NBA,DAL,...,0.333,2.0,7.0,9.0,1,1.0,0.0,1.0,7,32
4,30462,2023,4219,Aaron Gordon,NaN,PF,27.0,9,NBA,DEN,...,0.622,120.0,229.0,349.0,151,40.0,39.0,81.0,98,865
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31079,200,1947,157,Walt Miller,NaN,F,31.0,1,BAA,PIT,...,0.500,NaN,NaN,NaN,6,NaN,NaN,NaN,16,23
31080,201,1947,158,Warren Fenley,NaN,F,24.0,1,BAA,BOS,...,0.511,NaN,NaN,NaN,16,NaN,NaN,NaN,59,85
31081,202,1947,159,Wilbert Kautz,NaN,G-F,31.0,1,BAA,CHS,...,0.534,NaN,NaN,NaN,37,NaN,NaN,NaN,114,253
31082,203,1947,160,Woody Grimshaw,NaN,G,27.0,1,BAA,PRO,...,0.477,NaN,NaN,NaN,1,NaN,NaN,NaN,25,61
31083,204,1947,161,Wyndol Gray,NaN,G-F,24.0,1,BAA,BOS,...,0.581,NaN,NaN,NaN,47,NaN,NaN,NaN,105,350

In [104]:
modern_player_totals = player_totals_df[player_totals_df['season'] >= 2010]
modern_player_totals

,seas_id,season,player_id,player,birth_year,pos,age,experience,lg,tm,...,ft_percent,orb,drb,trb,ast,stl,blk,tov,pf,pts
0,30458,2023,5025,A.J. Green,NaN,SG,23.0,1,NBA,MIL,...,1.000,5.0,26.0,31.0,18,6.0,0.0,8.0,26,127
1,30459,2023,5026,A.J. Lawson,NaN,SG,22.0,1,NBA,TOT,...,0.333,2.0,8.0,10.0,1,1.0,0.0,1.0,8,34
2,30460,2023,5026,A.J. Lawson,NaN,SG,22.0,1,NBA,MIN,...,NaN,0.0,1.0,1.0,0,0.0,0.0,0.0,1,2
3,30461,2023,5026,A.J. Lawson,NaN,SG,22.0,1,NBA,DAL,...,0.333,2.0,7.0,9.0,1,1.0,0.0,1.0,7,32
4,30462,2023,4219,Aaron Gordon,NaN,PF,27.0,9,NBA,DEN,...,0.622,120.0,229.0,349.0,151,40.0,39.0,81.0,98,865
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8924,22729,2010,3730,Yakhouba Diawara,NaN,SG,27.0,4,NBA,MIA,...,NaN,1.0,3.0,4.0,3,1.0,0.0,3.0,8,5
8925,22730,2010,3794,Yi Jianlian,NaN,PF,22.0,3,NBA,NJN,...,0.798,115.0,257.0,372.0,47,37.0,52.0,77.0,170,623
8926,22731,2010,3363,Zach Randolph,NaN,PF,28.0,9,NBA,MEM,...,0.778,330.0,620.0,950.0,149,80.0,34.0,174.0,226,1681
8927,22732,2010,3494,Zaza Pachulia,NaN,C,25.0,7,NBA,ATL,...,0.650,117.0,176.0,293.0,42,37.0,31.0,58.0,186,333
8928,22733,2010,3100,Zydrunas Ilgauskas,NaN,C,34.0,12,NBA,CLE,...,0.743,114.0,231.0,345.0,48,14.0,50.0,63.0,183,474

In [105]:
modern_player_totals = modern_player_totals.drop(['birth_year'], axis=1)
modern_player_totals

,seas_id,season,player_id,player,pos,age,experience,lg,tm,g,...,ft_percent,orb,drb,trb,ast,stl,blk,tov,pf,pts
0,30458,2023,5025,A.J. Green,SG,23.0,1,NBA,MIL,28,...,1.000,5.0,26.0,31.0,18,6.0,0.0,8.0,26,127
1,30459,2023,5026,A.J. Lawson,SG,22.0,1,NBA,TOT,13,...,0.333,2.0,8.0,10.0,1,1.0,0.0,1.0,8,34
2,30460,2023,5026,A.J. Lawson,SG,22.0,1,NBA,MIN,1,...,NaN,0.0,1.0,1.0,0,0.0,0.0,0.0,1,2
3,30461,2023,5026,A.J. Lawson,SG,22.0,1,NBA,DAL,12,...,0.333,2.0,7.0,9.0,1,1.0,0.0,1.0,7,32
4,30462,2023,4219,Aaron Gordon,PF,27.0,9,NBA,DEN,51,...,0.622,120.0,229.0,349.0,151,40.0,39.0,81.0,98,865
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8924,22729,2010,3730,Yakhouba Diawara,SG,27.0,4,NBA,MIA,6,...,NaN,1.0,3.0,4.0,3,1.0,0.0,3.0,8,5
8925,22730,2010,3794,Yi Jianlian,PF,22.0,3,NBA,NJN,52,...,0.798,115.0,257.0,372.0,47,37.0,52.0,77.0,170,623
8926,22731,2010,3363,Zach Randolph,PF,28.0,9,NBA,MEM,81,...,0.778,330.0,620.0,950.0,149,80.0,34.0,174.0,226,1681
8927,22732,2010,3494,Zaza Pachulia,C,25.0,7,NBA,ATL,78,...,0.650,117.0,176.0,293.0,42,37.0,31.0,58.0,186,333
8928,22733,2010,3100,Zydrunas Ilgauskas,C,34.0,12,NBA,CLE,64,...,0.743,114.0,231.0,345.0,48,14.0,50.0,63.0,183,474

In [106]:
merged_data = pd.merge(modern_all_nba, modern_player_totals, on=['seas_id'], how='right')
merged_data

,type,seas_id,season,player_id,player,pos,age,experience,lg,tm,...,ft_percent,orb,drb,trb,ast,stl,blk,tov,pf,pts
0,NaN,30458,2023,5025,A.J. Green,SG,23.0,1,NBA,MIL,...,1.000,5.0,26.0,31.0,18,6.0,0.0,8.0,26,127
1,NaN,30459,2023,5026,A.J. Lawson,SG,22.0,1,NBA,TOT,...,0.333,2.0,8.0,10.0,1,1.0,0.0,1.0,8,34
2,NaN,30460,2023,5026,A.J. Lawson,SG,22.0,1,NBA,MIN,...,NaN,0.0,1.0,1.0,0,0.0,0.0,0.0,1,2
3,NaN,30461,2023,5026,A.J. Lawson,SG,22.0,1,NBA,DAL,...,0.333,2.0,7.0,9.0,1,1.0,0.0,1.0,7,32
4,NaN,30462,2023,4219,Aaron Gordon,PF,27.0,9,NBA,DEN,...,0.622,120.0,229.0,349.0,151,40.0,39.0,81.0,98,865
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8924,NaN,22729,2010,3730,Yakhouba Diawara,SG,27.0,4,NBA,MIA,...,NaN,1.0,3.0,4.0,3,1.0,0.0,3.0,8,5
8925,NaN,22730,2010,3794,Yi Jianlian,PF,22.0,3,NBA,NJN,...,0.798,115.0,257.0,372.0,47,37.0,52.0,77.0,170,623
8926,NaN,22731,2010,3363,Zach Randolph,PF,28.0,9,NBA,MEM,...,0.778,330.0,620.0,950.0,149,80.0,34.0,174.0,226,1681
8927,NaN,22732,2010,3494,Zaza Pachulia,C,25.0,7,NBA,ATL,...,0.650,117.0,176.0,293.0,42,37.0,31.0,58.0,186,333
8928,NaN,22733,2010,3100,Zydrunas Ilgauskas,C,34.0,12,NBA,CLE,...,0.743,114.0,231.0,345.0,48,14.0,50.0,63.0,183,474

In [107]:
# create a new column that indicates whether or not the player was an All-NBA player
merged_data['all_nba'] = merged_data['type'].notnull().astype(int)
merged_data

,type,seas_id,season,player_id,player,pos,age,experience,lg,tm,...,orb,drb,trb,ast,stl,blk,tov,pf,pts,all_nba
0,NaN,30458,2023,5025,A.J. Green,SG,23.0,1,NBA,MIL,...,5.0,26.0,31.0,18,6.0,0.0,8.0,26,127,0
1,NaN,30459,2023,5026,A.J. Lawson,SG,22.0,1,NBA,TOT,...,2.0,8.0,10.0,1,1.0,0.0,1.0,8,34,0
2,NaN,30460,2023,5026,A.J. Lawson,SG,22.0,1,NBA,MIN,...,0.0,1.0,1.0,0,0.0,0.0,0.0,1,2,0
3,NaN,30461,2023,5026,A.J. Lawson,SG,22.0,1,NBA,DAL,...,2.0,7.0,9.0,1,1.0,0.0,1.0,7,32,0
4,NaN,30462,2023,4219,Aaron Gordon,PF,27.0,9,NBA,DEN,...,120.0,229.0,349.0,151,40.0,39.0,81.0,98,865,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8924,NaN,22729,2010,3730,Yakhouba Diawara,SG,27.0,4,NBA,MIA,...,1.0,3.0,4.0,3,1.0,0.0,3.0,8,5,0
8925,NaN,22730,2010,3794,Yi Jianlian,PF,22.0,3,NBA,NJN,...,115.0,257.0,372.0,47,37.0,52.0,77.0,170,623,0
8926,NaN,22731,2010,3363,Zach Randolph,PF,28.0,9,NBA,MEM,...,330.0,620.0,950.0,149,80.0,34.0,174.0,226,1681,0
8927,NaN,22732,2010,3494,Zaza Pachulia,C,25.0,7,NBA,ATL,...,117.0,176.0,293.0,42,37.0,31.0,58.0,186,333,0
8928,NaN,22733,2010,3100,Zydrunas Ilgauskas,C,34.0,12,NBA,CLE,...,114.0,231.0,345.0,48,14.0,50.0,63.0,183,474,0

In [108]:
merged_data = merged_data.drop(['type'], axis=1)
merged_data

,seas_id,season,player_id,player,pos,age,experience,lg,tm,g,...,orb,drb,trb,ast,stl,blk,tov,pf,pts,all_nba
0,30458,2023,5025,A.J. Green,SG,23.0,1,NBA,MIL,28,...,5.0,26.0,31.0,18,6.0,0.0,8.0,26,127,0
1,30459,2023,5026,A.J. Lawson,SG,22.0,1,NBA,TOT,13,...,2.0,8.0,10.0,1,1.0,0.0,1.0,8,34,0
2,30460,2023,5026,A.J. Lawson,SG,22.0,1,NBA,MIN,1,...,0.0,1.0,1.0,0,0.0,0.0,0.0,1,2,0
3,30461,2023,5026,A.J. Lawson,SG,22.0,1,NBA,DAL,12,...,2.0,7.0,9.0,1,1.0,0.0,1.0,7,32,0
4,30462,2023,4219,Aaron Gordon,PF,27.0,9,NBA,DEN,51,...,120.0,229.0,349.0,151,40.0,39.0,81.0,98,865,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8924,22729,2010,3730,Yakhouba Diawara,SG,27.0,4,NBA,MIA,6,...,1.0,3.0,4.0,3,1.0,0.0,3.0,8,5,0
8925,22730,2010,3794,Yi Jianlian,PF,22.0,3,NBA,NJN,52,...,115.0,257.0,372.0,47,37.0,52.0,77.0,170,623,0
8926,22731,2010,3363,Zach Randolph,PF,28.0,9,NBA,MEM,81,...,330.0,620.0,950.0,149,80.0,34.0,174.0,226,1681,0
8927,22732,2010,3494,Zaza Pachulia,C,25.0,7,NBA,ATL,78,...,117.0,176.0,293.0,42,37.0,31.0,58.0,186,333,0
8928,22733,2010,3100,Zydrunas Ilgauskas,C,34.0,12,NBA,CLE,64,...,114.0,231.0,345.0,48,14.0,50.0,63.0,183,474,0

In [109]:
check = merged_data[merged_data['all_nba'] == 1]
check

,seas_id,season,player_id,player,pos,age,experience,lg,tm,g,...,orb,drb,trb,ast,stl,blk,tov,pf,pts,all_nba
741,29760,2022,3585,Chris Paul,PG,36.0,17,NBA,PHO,65,...,22.0,261.0,283.0,702,121.0,20.0,153.0,134,958,1
811,29830,2022,3872,DeMar DeRozan,PF,32.0,13,NBA,CHI,76,...,56.0,336.0,392.0,374,68.0,24.0,181.0,178,2118,1
831,29850,2022,4321,Devin Booker,SG,25.0,7,NBA,PHO,68,...,45.0,297.0,342.0,329,77.0,26.0,162.0,180,1822,1
899,29918,2022,4164,Giannis Antetokounmpo,PF,27.0,9,NBA,MIL,67,...,134.0,644.0,778.0,388,72.0,91.0,219.0,212,2002,1
940,29959,2022,4723,Ja Morant,PG,22.0,3,NBA,MEM,57,...,77.0,248.0,325.0,384,66.0,22.0,196.0,86,1564,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8678,22483,2010,3000,Kobe Bryant,SG,31.0,14,NBA,LAL,73,...,78.0,313.0,391.0,365,113.0,20.0,233.0,187,1970,1
8695,22500,2010,3463,LeBron James,SF,25.0,7,NBA,CLE,76,...,71.0,483.0,554.0,651,125.0,77.0,261.0,119,2258,1
8775,22580,2010,3342,Pau Gasol,C,29.0,9,NBA,LAL,65,...,243.0,491.0,734.0,218,37.0,113.0,143.0,152,1190,1
8873,22678,2010,3028,Steve Nash,PG,35.0,14,NBA,PHO,81,...,34.0,234.0,268.0,892,42.0,12.0,295.0,108,1333,1
8887,22692,2010,3092,Tim Duncan,C,33.0,13,NBA,SAS,78,...,221.0,567.0,788.0,246,45.0,117.0,140.0,152,1395,1

In [110]:
merged_data['forward'] = merged_data['pos'].str.contains('f', case=False).astype(int)
merged_data['guard'] = merged_data['pos'].str.contains('g', case=False).astype(int)
merged_data['center'] = merged_data['pos'].str.contains('c', case=False).astype(int)
merged_data

,seas_id,season,player_id,player,pos,age,experience,lg,tm,g,...,ast,stl,blk,tov,pf,pts,all_nba,forward,guard,center
0,30458,2023,5025,A.J. Green,SG,23.0,1,NBA,MIL,28,...,18,6.0,0.0,8.0,26,127,0,0,1,0
1,30459,2023,5026,A.J. Lawson,SG,22.0,1,NBA,TOT,13,...,1,1.0,0.0,1.0,8,34,0,0,1,0
2,30460,2023,5026,A.J. Lawson,SG,22.0,1,NBA,MIN,1,...,0,0.0,0.0,0.0,1,2,0,0,1,0
3,30461,2023,5026,A.J. Lawson,SG,22.0,1,NBA,DAL,12,...,1,1.0,0.0,1.0,7,32,0,0,1,0
4,30462,2023,4219,Aaron Gordon,PF,27.0,9,NBA,DEN,51,...,151,40.0,39.0,81.0,98,865,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8924,22729,2010,3730,Yakhouba Diawara,SG,27.0,4,NBA,MIA,6,...,3,1.0,0.0,3.0,8,5,0,0,1,0
8925,22730,2010,3794,Yi Jianlian,PF,22.0,3,NBA,NJN,52,...,47,37.0,52.0,77.0,170,623,0,1,0,0
8926,22731,2010,3363,Zach Randolph,PF,28.0,9,NBA,MEM,81,...,149,80.0,34.0,174.0,226,1681,0,1,0,0
8927,22732,2010,3494,Zaza Pachulia,C,25.0,7,NBA,ATL,78,...,42,37.0,31.0,58.0,186,333,0,0,0,1
8928,22733,2010,3100,Zydrunas Ilgauskas,C,34.0,12,NBA,CLE,64,...,48,14.0,50.0,63.0,183,474,0,0,0,1

In [111]:
check2 = merged_data[merged_data['player'] == 'Kyle Korver']
check2

,seas_id,season,player_id,player,pos,age,experience,lg,tm,g,...,ast,stl,blk,tov,pf,pts,all_nba,forward,guard,center
2539,28685,2020,3461,Kyle Korver,SF,38.0,17,NBA,MIL,58,...,68,26.0,12.0,48.0,78,386,0,1,0,0
3206,27993,2019,3461,Kyle Korver,SG-PF,37.0,16,NBA,TOT,70,...,81,25.0,12.0,59.0,106,600,0,1,1,0
3207,27994,2019,3461,Kyle Korver,PF,37.0,16,NBA,CLE,16,...,17,3.0,2.0,17.0,22,108,0,1,0,0
3208,27995,2019,3461,Kyle Korver,SG,37.0,16,NBA,UTA,54,...,64,22.0,10.0,42.0,84,492,0,0,1,0
3890,27305,2018,3461,Kyle Korver,SG,36.0,15,NBA,CLE,73,...,88,31.0,27.0,55.0,130,672,0,0,1,0
4504,26660,2017,3461,Kyle Korver,SG,35.0,14,NBA,TOT,67,...,110,34.0,21.0,69.0,107,678,0,0,1,0
4505,26661,2017,3461,Kyle Korver,SG,35.0,14,NBA,ATL,32,...,75,23.0,13.0,40.0,47,305,0,0,1,0
4506,26662,2017,3461,Kyle Korver,SG,35.0,14,NBA,CLE,35,...,35,11.0,8.0,29.0,60,373,0,0,1,0
5109,26092,2016,3461,Kyle Korver,SG,34.0,13,NBA,ATL,80,...,164,60.0,35.0,98.0,161,739,0,0,1,0
5719,25473,2015,3461,Kyle Korver,SG,33.0,12,NBA,ATL,75,...,196,52.0,42.0,107.0,140,911,0,0,1,0
6347,24839,2014,3461,Kyle Korver,SG,32.0,11,NBA,ATL,71,...,208,70.0,24.0,102.0,147,850,0,0,1,0
6953,24261,2013,3461,Kyle Korver,SF,31.0,10,NBA,ATL,74,...,146,70.0,37.0,70.0,170,810,0,1,0,0
7505,23689,2012,3461,Kyle Korver,SG,30.0,9,NBA,CHI,65,...,112,36.0,15.0,53.0,110,529,0,0,1,0
8094,23102,2011,3461,Kyle Korver,SG,29.0,8,NBA,CHI,82,...,124,35.0,20.0,60.0,156,681,0,0,1,0
8685,22490,2010,3461,Kyle Korver,SG,28.0,7,NBA,UTA,52,...,89,26.0,12.0,42.0,76,374,0,0,1,0

In [112]:
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8929 entries, 0 to 8928
Data columns (total 38 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   seas_id       8929 non-null   int64
 1   season        8929 non-null   int64
 2   player_id     8929 non-null   int64
 3   player        8929 non-null   object
 4   pos           8929 non-null   object
 5   age           8929 non-null   float64
 6   experience    8929 non-null   int64
 7   lg            8929 non-null   object
 8   tm            8929 non-null   object
 9   g             8929 non-null   int64
 10  gs            8929 non-null   float64
 11  mp            8929 non-null   float64
 12  fg            8929 non-null   int64
 13  fga           8929 non-null   int64
 14  fg_percent    8872 non-null   float64
 15  x3p           8929 non-null   float64
 16  x3pa          8929 non-null   float64
 17  x3p_percent   7968 non-null   float64
 18  x2p           8929 non-null   int64
 19  x2pa          8929 non-null   int64
 20  x2p_percent   8807 non-null   float64
 21  e_fg_percent  8872 non-null   float64
 22  ft            8929 non-null   int64
 23  fta           8929 non-null   int64
 24  ft_percent    8416 non-null   float64
 25  orb           8929 non-null   float64
 26  drb           8929 non-null   float64
 27  trb           8929 non-null   float64
 28  ast           8929 non-null   int64
 29  stl           8929 non-null   float64
 30  blk           8929 non-null   float64
 31  tov           8929 non-null   float64
 32  pf            8929 non-null   int64
 33  pts           8929 non-null   int64
 34  all_nba       8929 non-null   int32
 35  forward       8929 non-null   int32
 36  guard         8929 non-null   int32
 37  center        8929 non-null   int32
dtypes: float64(16), int32(4), int64(14), object(4)
memory usage: 2.5+ MB

In [113]:
test_data = merged_data.drop(['player_id', 'lg', 'tm', 'pos', 'player'], axis=1)
test_data

,seas_id,season,age,experience,g,gs,mp,fg,fga,fg_percent,...,ast,stl,blk,tov,pf,pts,all_nba,forward,guard,center
0,30458,2023,23.0,1,28,0.0,267.0,44,99,0.444,...,18,6.0,0.0,8.0,26,127,0,0,1,0
1,30459,2023,22.0,1,13,0.0,63.0,13,26,0.500,...,1,1.0,0.0,1.0,8,34,0,0,1,0
2,30460,2023,22.0,1,1,0.0,2.0,1,1,1.000,...,0,0.0,0.0,0.0,1,2,0,0,1,0
3,30461,2023,22.0,1,12,0.0,61.0,12,25,0.480,...,1,1.0,0.0,1.0,7,32,0,0,1,0
4,30462,2023,27.0,9,51,51.0,1533.0,331,566,0.585,...,151,40.0,39.0,81.0,98,865,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8924,22729,2010,27.0,4,6,2.0,44.0,2,10,0.200,...,3,1.0,0.0,3.0,8,5,0,0,1,0
8925,22730,2010,22.0,3,52,51.0,1655.0,227,563,0.403,...,47,37.0,52.0,77.0,170,623,0,1,0,0
8926,22731,2010,28.0,9,81,81.0,3051.0,652,1336,0.488,...,149,80.0,34.0,174.0,226,1681,0,1,0,0
8927,22732,2010,25.0,7,78,1.0,1089.0,120,246,0.488,...,42,37.0,31.0,58.0,186,333,0,0,0,1
8928,22733,2010,34.0,12,64,6.0,1339.0,194,438,0.443,...,48,14.0,50.0,63.0,183,474,0,0,0,1